@using EntityLayer.Concreate
@model List<Category>

@{
    ViewBag.Title = "MyHeading";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<br />
<link href="~/AdminLTE-3.0.4/login-form-20/css/bootstrap.min.css" rel="stylesheet" />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>@item.CategoryID</td>
    <td>@item.CategoryName</td>
    <td><a href="/Category/EditCategory/@item.CategoryID" class="btn btn-warning">Güncelle</a></td>
    <td><a href="/Category/DeleteCategory/@item.CategoryID" class="btn btn-danger">Sil</a></td>
</tr>
    }


</table>

<a href="/Category/AddCategory" class="btn btn-info">yeni kategori</a>
<br />
<br />
